<li class="container w-64 h-[calc(100vh-150px)]">
  <div
    class="w-full rounded-md shadow-md dark:bg-gray-900 dark:text-gray-100 pt-5"
  >
    <img
      [src]="book.image"
      [alt]="book.name"
      class="object-cover object-center w-auto rounded-t-md h-72 mx-auto dark:bg-gray-500 truncate"
    />
    <div class="flex flex-col justify-between p-6 space-y-8">
      <div class="space-y-2">
        <h2 class="text-xl font-semibold truncate">
          {{ book.name | titlecase }}
        </h2>
        <p class="dark:text-gray-100">by {{ book.author | titlecase }}</p>
        <p class="dark:text-gray-100 text-lg font-bold text-left">
          {{ book.amount | currency: "LKR":"Rs." }}
        </p>
      </div>
      <button
        *ngIf="!isAdded"
        (click)="addToCart()"
        class="flex items-center justify-center w-full p-3 font-semibold tracking-wide rounded-md dark:bg-violet-400 dark:text-gray-900"
      >
        Add to Cart
      </button>
      <button
        *ngIf="isAdded"
        (click)="removeFromCart()"
        class="flex items-center justify-center w-full p-3 font-semibold tracking-wide rounded-md dark:bg-violet-400 dark:text-gray-900"
      >
        Remove from Cart
      </button>
    </div>
  </div>
</li>

<!-- <img [src]="book.image" [alt]="book.name" width="120" />
<div>{{ book.name | titlecase }} by {{ book.author | titlecase }}</div>
<p>{{ book.amount | currency: "LKR":"Rs." }}</p>

<button *ngIf="!isAdded" (click)="addToCart()">Add to Cart</button>
<button *ngIf="isAdded" (click)="removeFromCart()">Remove from Cart</button> -->
