
<!-- <button (click)="handleClick()" [disabled]="isDisabled">show books</button> -->
<!-- <input type="text" [(ngModel)]="inputName"> -->
<!-- <div>{{inputName}}</div> -->

<!-- <button (click)="this.isShowing = !this.isShowing">
  <ng-container *ngIf="!isShowing">Show books</ng-container>
  <ng-container *ngIf="isShowing">Hide books</ng-container>
</button> -->



<ul *ngIf="isShowing" class="flex flex-row gap-10 m-4 max-w-screen">
  <ng-container *ngFor="let book of books; let i=index">
    <app-book [book]="book"></app-book>
    <!-- <app-book (bookEmitter)="addToCart($event)" [book]="book"></app-book> -->
  </ng-container>
</ul>